repos:
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect hardcoded secrets using TruffleHog
        entry: bash -c 'trufflehog git file://. --since-commit HEAD --fail'
        language: system
        stages: [pre-commit, pre-push]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-features --locked -- -D clippy::all
        language: system
        types: [rust]
        pass_filenames: false
